/* C:\website-next\src\app\cast\[id]\ImageGallery.module.css */

.list_today {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.mainImage {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.ldsRing {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}

.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}

.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ph2 {
  width: 100%;
}

.ph2 img {
  width: 100%;
  height: auto;
}

.imageList {
  margin-top: 10px;
}

.imageList ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.ph2_vthumb {
  width: 80%;
}

.ph2_vthumb img {
  width: 100%;
  height: auto;
  cursor: pointer;
}